.hide {
  display: none !important;
  visibility: hidden !important;
}

.flag {
  border-radius: 50%;
}

.section {
  margin-top: 3rem;
}

.section-entry {
  margin-top: 1.5rem;
}
.section-entry .list-group-item {
  padding: 1rem 1rem;
  background-color: #f8f9fa !important;
}
