<a href="{{ source.url }}" target="_blank">
{%- if language == "uk" -%}
  джерело
{%- elsif language == "de" -%}
  Quelle
{%- elsif language == "en" -%}
  source
{%- endif -%}
{%- if source.lang != language -%}
  {% assign language = source.lang %}
  in {% include snippets/flag.html %}
{%- endif -%}
{%- if source.translated -%}
  {%- if language == "uk" -%}
    &nbsp; (перекладено {{ source.translated }})
  {%- elsif language == "de" -%}
    &nbsp; (übersetzt von {{ source.translated }})
  {%- elsif language == "en" -%}
    &nbsp; (translated by {{ source.translated }})
  {%- endif -%}
{%- endif -%}
</a>
