<a href="{{ source.url }}" target="_blank">
{%- if language == "uk" -%}
  джерело
{%- elsif language == "de" -%}
  Quelle
{%- elsif language == "en" -%}
  source
{%- endif -%}
{%- if source.lang != language -%}
  {%- if source.lang == "uk" -%}
    &nbsp; 🇺🇦
  {%- elsif source.lang == "de" -%}
    &nbsp; 🇦🇹
  {%- elsif source.lang == "en" -%}
    &nbsp; 🇬🇧
  {%- endif -%}
{%- endif -%}
{%- if source.translated -%}
  {%- if language == "uk" -%}
    &nbsp; (перекладено {{ source.translated }})
  {%- elsif language == "de" -%}
    &nbsp; (übersetzt von {{ source.translated }})
  {%- elsif language == "en" -%}
    &nbsp; (translated by {{ source.translated }})
  {%- endif -%}
{%- endif -%}
</a>
